/*maker.css*/
.b1{
    font-family: Arial, sans-serif;
    background-color: #161616;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(82, 82, 82, 0.26);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(16, 16, 16, 16);
}

h1 {
    text-align: center;
    color: #ffffff;
}

p {
    margin-bottom: 10px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    display: inline-block;
    margin-right: 10px;
}
.color_p{
    color: white;
    font-size: 18.5px;
}
html{
    background-color: #161616;
}